## working API using the function
- legal for variable == alphabets,number and underscore(_)
- _ =  when element values is not reused

In [6]:
l = list(range(9))

In [7]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
l = list(range(1,10))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
len(l)

9

In [11]:
list_count = 0
for i in l:
    print(i+1)

2
3
4
5
6
7
8
9
10

In [12]:
list_count = 0
for i in l:
    list_count += 1

In [13]:
list_count

9

In [14]:
list_count = 0
for _ in l:
    list_count +=1

print(list_count)

9

In [15]:
sum(l)

45

In [16]:
1+2+3+4+5+6+7+8+9

45

In [17]:
list_sum = 0
for i in l:
    list_sum += i

In [18]:
print(list_sum)

45

In [19]:
list_sum = 0
for _ in l:
    list_sum += _

print(list_sum)

45

In [20]:
url =" https://api.exchangerate-api.com/v4/latest/USD"

In [21]:
import requests

In [22]:
response = requests.get(url)

In [23]:
response.status_code

200

In [24]:
data = response.json()

In [25]:
data

{'provider': 'https://www.exchangerate-api.com',
 'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'terms': 'https://www.exchangerate-api.com/terms',
 'base': 'USD',
 'date': '2023-12-31',
 'time_last_updated': 1703980801,
 'rates': {'USD': 1,
  'AED': 3.67,
  'AFN': 70.44,
  'ALL': 93.73,
  'AMD': 404.85,
  'ANG': 1.79,
  'AOA': 842.9,
  'ARS': 808.48,
  'AUD': 1.47,
  'AWG': 1.79,
  'AZN': 1.7,
  'BAM': 1.77,
  'BBD': 2,
  'BDT': 109.64,
  'BGN': 1.77,
  'BHD': 0.376,
  'BIF': 2837.31,
  'BMD': 1,
  'BND': 1.32,
  'BOB': 6.86,
  'BRL': 4.85,
  'BSD': 1,
  'BTN': 83.23,
  'BWP': 13.48,
  'BYN': 3.23,
  'BZD': 2,
  'CAD': 1.32,
  'CDF': 2643.36,
  'CHF': 0.841,
  'CLP': 884.73,
  'CNY': 7.12,
  'COP': 3870.96,
  'CRC': 517.25,
  'CUP': 24,
  'CVE': 99.83,
  'CZK': 22.36,
  'DJF': 177.72,
  'DKK': 6.75,
  'DOP': 56.97,
  'DZD': 133.55,
  'EGP': 30.75,
  'ERN': 15,
  'ETB': 56.44,
  'EUR': 0.905,
  'FJD': 2.19,
  'FKP': 0.785,
  'FOK': 6.75,
  'GBP': 0.785,
  'GEL': 2.69,
  'GGP': 0.785,
  'GHS': 11.97,
  'GIP': 0.785,
  'GMD': 64.39,
  'GNF': 8581.24,
  'GTQ': 7.76,
  'GYD': 209.31,
  'HKD': 7.81,
  'HNL': 24.48,
  'HRK': 6.82,
  'HTG': 131.87,
  'HUF': 346.76,
  'IDR': 15408.6,
  'ILS': 3.62,
  'IMP': 0.785,
  'INR': 83.22,
  'IQD': 1310.6,
  'IRR': 42093.04,
  'ISK': 136.09,
  'JEP': 0.785,
  'JMD': 154.42,
  'JOD': 0.709,
  'JPY': 141.17,
  'KES': 156.26,
  'KGS': 89.15,
  'KHR': 4091.32,
  'KID': 1.47,
  'KMF': 445.4,
  'KRW': 1295.58,
  'KWD': 0.307,
  'KYD': 0.833,
  'KZT': 455.06,
  'LAK': 20334.67,
  'LBP': 15000,
  'LKR': 323.53,
  'LRD': 189.91,
  'LSL': 18.33,
  'LYD': 4.78,
  'MAD': 9.85,
  'MDL': 17.41,
  'MGA': 4573.33,
  'MKD': 55.67,
  'MMK': 2081.58,
  'MNT': 3419.29,
  'MOP': 8.05,
  'MRU': 39.56,
  'MUR': 43.85,
  'MVR': 15.45,
  'MWK': 1693.96,
  'MXN': 16.96,
  'MYR': 4.59,
  'MZN': 63.88,
  'NAD': 18.33,
  'NGN': 917.55,
  'NIO': 36.27,
  'NOK': 10.17,
  'NPR': 133.17,
  'NZD': 1.58,
  'OMR': 0.384,
  'PAB': 1,
  'PEN': 3.69,
  'PGK': 3.69,
  'PHP': 55.4,
  'PKR': 281.83,
  'PLN': 3.93,
  'PYG': 7245.5,
  'QAR': 3.64,
  'RON': 4.5,
  'RSD': 105.9,
  'RUB': 90.74,
  'RWF': 1294.39,
  'SAR': 3.75,
  'SBD': 8.45,
  'SCR': 13.47,
  'SDG': 510.42,
  'SEK': 10.07,
  'SGD': 1.32,
  'SHP': 0.785,
  'SLE': 22.91,
  'SLL': 22905.01,
  'SOS': 571.39,
  'SRD': 37.35,
  'SSP': 1082.75,
  'STN': 22.18,
  'SYP': 12770.03,
  'SZL': 18.33,
  'THB': 34.35,
  'TJS': 10.93,
  'TMT': 3.5,
  'TND': 3.07,
  'TOP': 2.33,
  'TRY': 29.53,
  'TTD': 6.71,
  'TVD': 1.47,
  'TWD': 30.58,
  'TZS': 2515.95,
  'UAH': 37.98,
  'UGX': 3768.61,
  'UYU': 39,
  'UZS': 12329.9,
  'VES': 35.96,
  'VND': 24177.72,
  'VUV': 117.23,
  'WST': 2.69,
  'XAF': 593.87,
  'XCD': 2.7,
  'XDR': 0.744,
  'XOF': 593.87,
  'XPF': 108.04,
  'YER': 247.95,
  'ZAR': 18.34,
  'ZMW': 25.69,
  'ZWL': 6054.51}}

In [26]:
data.keys()

dict_keys(['provider', 'WARNING_UPGRADE_TO_V6', 'terms', 'base', 'date', 'time_last_updated', 'rates'])

In [27]:
data.values()

dict_values(['https://www.exchangerate-api.com', 'https://www.exchangerate-api.com/docs/free', 'https://www.exchangerate-api.com/terms', 'USD', '2023-12-31', 1703980801, {'USD': 1, 'AED': 3.67, 'AFN': 70.44, 'ALL': 93.73, 'AMD': 404.85, 'ANG': 1.79, 'AOA': 842.9, 'ARS': 808.48, 'AUD': 1.47, 'AWG': 1.79, 'AZN': 1.7, 'BAM': 1.77, 'BBD': 2, 'BDT': 109.64, 'BGN': 1.77, 'BHD': 0.376, 'BIF': 2837.31, 'BMD': 1, 'BND': 1.32, 'BOB': 6.86, 'BRL': 4.85, 'BSD': 1, 'BTN': 83.23, 'BWP': 13.48, 'BYN': 3.23, 'BZD': 2, 'CAD': 1.32, 'CDF': 2643.36, 'CHF': 0.841, 'CLP': 884.73, 'CNY': 7.12, 'COP': 3870.96, 'CRC': 517.25, 'CUP': 24, 'CVE': 99.83, 'CZK': 22.36, 'DJF': 177.72, 'DKK': 6.75, 'DOP': 56.97, 'DZD': 133.55, 'EGP': 30.75, 'ERN': 15, 'ETB': 56.44, 'EUR': 0.905, 'FJD': 2.19, 'FKP': 0.785, 'FOK': 6.75, 'GBP': 0.785, 'GEL': 2.69, 'GGP': 0.785, 'GHS': 11.97, 'GIP': 0.785, 'GMD': 64.39, 'GNF': 8581.24, 'GTQ': 7.76, 'GYD': 209.31, 'HKD': 7.81, 'HNL': 24.48, 'HRK': 6.82, 'HTG': 131.87, 'HUF': 346.76, 'IDR': 15408.6, 'ILS': 3.62, 'IMP': 0.785, 'INR': 83.22, 'IQD': 1310.6, 'IRR': 42093.04, 'ISK': 136.09, 'JEP': 0.785, 'JMD': 154.42, 'JOD': 0.709, 'JPY': 141.17, 'KES': 156.26, 'KGS': 89.15, 'KHR': 4091.32, 'KID': 1.47, 'KMF': 445.4, 'KRW': 1295.58, 'KWD': 0.307, 'KYD': 0.833, 'KZT': 455.06, 'LAK': 20334.67, 'LBP': 15000, 'LKR': 323.53, 'LRD': 189.91, 'LSL': 18.33, 'LYD': 4.78, 'MAD': 9.85, 'MDL': 17.41, 'MGA': 4573.33, 'MKD': 55.67, 'MMK': 2081.58, 'MNT': 3419.29, 'MOP': 8.05, 'MRU': 39.56, 'MUR': 43.85, 'MVR': 15.45, 'MWK': 1693.96, 'MXN': 16.96, 'MYR': 4.59, 'MZN': 63.88, 'NAD': 18.33, 'NGN': 917.55, 'NIO': 36.27, 'NOK': 10.17, 'NPR': 133.17, 'NZD': 1.58, 'OMR': 0.384, 'PAB': 1, 'PEN': 3.69, 'PGK': 3.69, 'PHP': 55.4, 'PKR': 281.83, 'PLN': 3.93, 'PYG': 7245.5, 'QAR': 3.64, 'RON': 4.5, 'RSD': 105.9, 'RUB': 90.74, 'RWF': 1294.39, 'SAR': 3.75, 'SBD': 8.45, 'SCR': 13.47, 'SDG': 510.42, 'SEK': 10.07, 'SGD': 1.32, 'SHP': 0.785, 'SLE': 22.91, 'SLL': 22905.01, 'SOS': 571.39, 'SRD': 37.35, 'SSP': 1082.75, 'STN': 22.18, 'SYP': 12770.03, 'SZL': 18.33, 'THB': 34.35, 'TJS': 10.93, 'TMT': 3.5, 'TND': 3.07, 'TOP': 2.33, 'TRY': 29.53, 'TTD': 6.71, 'TVD': 1.47, 'TWD': 30.58, 'TZS': 2515.95, 'UAH': 37.98, 'UGX': 3768.61, 'UYU': 39, 'UZS': 12329.9, 'VES': 35.96, 'VND': 24177.72, 'VUV': 117.23, 'WST': 2.69, 'XAF': 593.87, 'XCD': 2.7, 'XDR': 0.744, 'XOF': 593.87, 'XPF': 108.04, 'YER': 247.95, 'ZAR': 18.34, 'ZMW': 25.69, 'ZWL': 6054.51}])

In [28]:
data["rates"]

{'USD': 1,
 'AED': 3.67,
 'AFN': 70.44,
 'ALL': 93.73,
 'AMD': 404.85,
 'ANG': 1.79,
 'AOA': 842.9,
 'ARS': 808.48,
 'AUD': 1.47,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.77,
 'BBD': 2,
 'BDT': 109.64,
 'BGN': 1.77,
 'BHD': 0.376,
 'BIF': 2837.31,
 'BMD': 1,
 'BND': 1.32,
 'BOB': 6.86,
 'BRL': 4.85,
 'BSD': 1,
 'BTN': 83.23,
 'BWP': 13.48,
 'BYN': 3.23,
 'BZD': 2,
 'CAD': 1.32,
 'CDF': 2643.36,
 'CHF': 0.841,
 'CLP': 884.73,
 'CNY': 7.12,
 'COP': 3870.96,
 'CRC': 517.25,
 'CUP': 24,
 'CVE': 99.83,
 'CZK': 22.36,
 'DJF': 177.72,
 'DKK': 6.75,
 'DOP': 56.97,
 'DZD': 133.55,
 'EGP': 30.75,
 'ERN': 15,
 'ETB': 56.44,
 'EUR': 0.905,
 'FJD': 2.19,
 'FKP': 0.785,
 'FOK': 6.75,
 'GBP': 0.785,
 'GEL': 2.69,
 'GGP': 0.785,
 'GHS': 11.97,
 'GIP': 0.785,
 'GMD': 64.39,
 'GNF': 8581.24,
 'GTQ': 7.76,
 'GYD': 209.31,
 'HKD': 7.81,
 'HNL': 24.48,
 'HRK': 6.82,
 'HTG': 131.87,
 'HUF': 346.76,
 'IDR': 15408.6,
 'ILS': 3.62,
 'IMP': 0.785,
 'INR': 83.22,
 'IQD': 1310.6,
 'IRR': 42093.04,
 'ISK': 136.09,
 'JEP': 0.785,
 'JMD': 154.42,
 'JOD': 0.709,
 'JPY': 141.17,
 'KES': 156.26,
 'KGS': 89.15,
 'KHR': 4091.32,
 'KID': 1.47,
 'KMF': 445.4,
 'KRW': 1295.58,
 'KWD': 0.307,
 'KYD': 0.833,
 'KZT': 455.06,
 'LAK': 20334.67,
 'LBP': 15000,
 'LKR': 323.53,
 'LRD': 189.91,
 'LSL': 18.33,
 'LYD': 4.78,
 'MAD': 9.85,
 'MDL': 17.41,
 'MGA': 4573.33,
 'MKD': 55.67,
 'MMK': 2081.58,
 'MNT': 3419.29,
 'MOP': 8.05,
 'MRU': 39.56,
 'MUR': 43.85,
 'MVR': 15.45,
 'MWK': 1693.96,
 'MXN': 16.96,
 'MYR': 4.59,
 'MZN': 63.88,
 'NAD': 18.33,
 'NGN': 917.55,
 'NIO': 36.27,
 'NOK': 10.17,
 'NPR': 133.17,
 'NZD': 1.58,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.69,
 'PGK': 3.69,
 'PHP': 55.4,
 'PKR': 281.83,
 'PLN': 3.93,
 'PYG': 7245.5,
 'QAR': 3.64,
 'RON': 4.5,
 'RSD': 105.9,
 'RUB': 90.74,
 'RWF': 1294.39,
 'SAR': 3.75,
 'SBD': 8.45,
 'SCR': 13.47,
 'SDG': 510.42,
 'SEK': 10.07,
 'SGD': 1.32,
 'SHP': 0.785,
 'SLE': 22.91,
 'SLL': 22905.01,
 'SOS': 571.39,
 'SRD': 37.35,
 'SSP': 1082.75,
 'STN': 22.18,
 'SYP': 12770.03,
 'SZL': 18.33,
 'THB': 34.35,
 'TJS': 10.93,
 'TMT': 3.5,
 'TND': 3.07,
 'TOP': 2.33,
 'TRY': 29.53,
 'TTD': 6.71,
 'TVD': 1.47,
 'TWD': 30.58,
 'TZS': 2515.95,
 'UAH': 37.98,
 'UGX': 3768.61,
 'UYU': 39,
 'UZS': 12329.9,
 'VES': 35.96,
 'VND': 24177.72,
 'VUV': 117.23,
 'WST': 2.69,
 'XAF': 593.87,
 'XCD': 2.7,
 'XDR': 0.744,
 'XOF': 593.87,
 'XPF': 108.04,
 'YER': 247.95,
 'ZAR': 18.34,
 'ZMW': 25.69,
 'ZWL': 6054.51}

In [29]:
data["rates"]["PKR"] * 100

28183.0

In [30]:
data["rates"]["BBD"] *100/50

4.0

In [31]:
# creating function
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100
    conversation_currency = "PKR"
    data["rates"][conversation_currency]*amount

In [32]:
curr_conv()

In [33]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100
    conversation_currency = "PKR"
    data["rates"][conversation_currency]*amount
    return "imran"

In [34]:
curr_conv()

'imran'

In [35]:
def curr_conv():
    response = requests.get(url)
    data = response.json()
    amount = 100
    conversation_currency = "PKR"
    conv = data["rates"][conversation_currency]*amount
    return conv

In [36]:
curr_conv()

28183.0

In [37]:
def curr_conv(amount): # amount =parameter
    response = requests.get(url)
    data = response.json()
    # amount = 100
    conversation_currency = "PKR"
    conv = data["rates"][conversation_currency]*amount
    return conv

In [38]:
# curr_conv() # error

In [39]:
curr_conv(20)

5636.599999999999

In [40]:
def curr_conv(amount,target_curr):
    response = requests.get(url)
    data = response.json()
    # amount = 100
    # conversation_currency = "PKR"
    conv = data["rates"][target_curr]*amount
    return conv

In [41]:
curr_conv(100,"USD")

100

In [42]:
curr_conv(1,"PKR")

281.83

In [43]:
def curr_conv(amount,target_curr):
    response = requests.get(url)
    data = response.json()
    # amount = 100
    # conversation_currency = "PKR"
    conv = data["rates"][target_curr]*amount
    return target_curr + " "+ str(conv)

In [44]:
curr_conv(100,"PKR")

'PKR 28183.0'

In [45]:
import json

In [46]:
with open("sales.json") as f:
    sales = json.load(f)

In [47]:
sales

{'3942': {'purchase_total': 100.5, 'currency': 'CAD'},
 '8791': {'purchase_total': 75.25, 'currency': 'EUR'},
 '5623': {'purchase_total': 50.75, 'currency': 'GBP'},
 '1234': {'purchase_total': 200.1, 'currency': 'USD'},
 '5678': {'purchase_total': 150.75, 'currency': 'JPY'},
 '9876': {'purchase_total': 300.5, 'currency': 'CAD'},
 '2457': {'purchase_total': 80.0, 'currency': 'USD'},
 '7365': {'purchase_total': 55.25, 'currency': 'GBP'},
 '8910': {'purchase_total': 120.6, 'currency': 'CAD'},
 '4321': {'purchase_total': 180.25, 'currency': 'EUR'},
 '6789': {'purchase_total': 90.75, 'currency': 'JPY'},
 '5432': {'purchase_total': 250.9, 'currency': 'USD'},
 '1098': {'purchase_total': 70.25, 'currency': 'GBP'},
 '3647': {'purchase_total': 140.5, 'currency': 'CAD'},
 '2190': {'purchase_total': 95.8, 'currency': 'EUR'},
 '8765': {'purchase_total': 180.75, 'currency': 'JPY'},
 '9875': {'purchase_total': 210.25, 'currency': 'USD'},
 '1342': {'purchase_total': 65.5, 'currency': 'GBP'},
 '7690': {'purchase_total': 110.2, 'currency': 'CAD'},
 '2389': {'purchase_total': 155.35, 'currency': 'EUR'},
 '6574': {'purchase_total': 80.75, 'currency': 'JPY'},
 '9832': {'purchase_total': 280.4, 'currency': 'USD'},
 '3257': {'purchase_total': 60.25, 'currency': 'GBP'},
 '7194': {'purchase_total': 130.75, 'currency': 'CAD'},
 '8746': {'purchase_total': 175.9, 'currency': 'EUR'},
 '2019': {'purchase_total': 85.75, 'currency': 'JPY'},
 '5437': {'purchase_total': 195.25, 'currency': 'USD'},
 '1025': {'purchase_total': 50.5, 'currency': 'GBP'},
 '6932': {'purchase_total': 120.3, 'currency': 'CAD'}}

In [48]:
len(sales)

29

In [49]:
for i in sales:
    print(i)

3942
8791
5623
1234
5678
9876
2457
7365
8910
4321
6789
5432
1098
3647
2190
8765
9875
1342
7690
2389
6574
9832
3257
7194
8746
2019
5437
1025
6932

In [50]:
for v in sales.values():
    print(v)

{'purchase_total': 100.5, 'currency': 'CAD'}
{'purchase_total': 75.25, 'currency': 'EUR'}
{'purchase_total': 50.75, 'currency': 'GBP'}
{'purchase_total': 200.1, 'currency': 'USD'}
{'purchase_total': 150.75, 'currency': 'JPY'}
{'purchase_total': 300.5, 'currency': 'CAD'}
{'purchase_total': 80.0, 'currency': 'USD'}
{'purchase_total': 55.25, 'currency': 'GBP'}
{'purchase_total': 120.6, 'currency': 'CAD'}
{'purchase_total': 180.25, 'currency': 'EUR'}
{'purchase_total': 90.75, 'currency': 'JPY'}
{'purchase_total': 250.9, 'currency': 'USD'}
{'purchase_total': 70.25, 'currency': 'GBP'}
{'purchase_total': 140.5, 'currency': 'CAD'}
{'purchase_total': 95.8, 'currency': 'EUR'}
{'purchase_total': 180.75, 'currency': 'JPY'}
{'purchase_total': 210.25, 'currency': 'USD'}
{'purchase_total': 65.5, 'currency': 'GBP'}
{'purchase_total': 110.2, 'currency': 'CAD'}
{'purchase_total': 155.35, 'currency': 'EUR'}
{'purchase_total': 80.75, 'currency': 'JPY'}
{'purchase_total': 280.4, 'currency': 'USD'}
{'purchase_total': 60.25, 'currency': 'GBP'}
{'purchase_total': 130.75, 'currency': 'CAD'}
{'purchase_total': 175.9, 'currency': 'EUR'}
{'purchase_total': 85.75, 'currency': 'JPY'}
{'purchase_total': 195.25, 'currency': 'USD'}
{'purchase_total': 50.5, 'currency': 'GBP'}
{'purchase_total': 120.3, 'currency': 'CAD'}

In [51]:
# find purchase and currency
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']

    print(purchase_total,currency)

100.5 CAD
75.25 EUR
50.75 GBP
200.1 USD
150.75 JPY
300.5 CAD
80.0 USD
55.25 GBP
120.6 CAD
180.25 EUR
90.75 JPY
250.9 USD
70.25 GBP
140.5 CAD
95.8 EUR
180.75 JPY
210.25 USD
65.5 GBP
110.2 CAD
155.35 EUR
80.75 JPY
280.4 USD
60.25 GBP
130.75 CAD
175.9 EUR
85.75 JPY
195.25 USD
50.5 GBP
120.3 CAD

#### Convert all purchase in USD

In [66]:
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']

    date = requests.get(url).json() # only one request is used in one day 
    exc_rate = data["rates"][currency]
    
    usd = purchase_total/exc_rate

    print(usd)

76.13636363636363
83.14917127071823
64.64968152866241
200.1
1.0678614436495006
227.65151515151513
80.0
70.38216560509554
91.36363636363636
199.17127071823205
0.6428419635899979
250.9
89.49044585987261
106.43939393939394
105.85635359116021
1.2803711836792522
210.25
83.43949044585987
83.48484848484848
171.6574585635359
0.5720053835800808
280.4
76.7515923566879
99.0530303030303
194.3646408839779
0.6074236735850393
195.25
64.3312101910828
91.13636363636363

In [53]:
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']

    exc_rate = data["rates"][currency]
    
    usd = purchase_total/exc_rate

    print(usd) # all purchase in USD

76.13636363636363
83.14917127071823
64.64968152866241
200.1
1.0678614436495006
227.65151515151513
80.0
70.38216560509554
91.36363636363636
199.17127071823205
0.6428419635899979
250.9
89.49044585987261
106.43939393939394
105.85635359116021
1.2803711836792522
210.25
83.43949044585987
83.48484848484848
171.6574585635359
0.5720053835800808
280.4
76.7515923566879
99.0530303030303
194.3646408839779
0.6074236735850393
195.25
64.3312101910828
91.13636363636363

In [54]:
# find Total sales in usd
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']

    exc_rate = data["rates"][currency]
    
    usd = purchase_total/exc_rate

    print(usd,currency)

76.13636363636363 CAD
83.14917127071823 EUR
64.64968152866241 GBP
200.1 USD
1.0678614436495006 JPY
227.65151515151513 CAD
80.0 USD
70.38216560509554 GBP
91.36363636363636 CAD
199.17127071823205 EUR
0.6428419635899979 JPY
250.9 USD
89.49044585987261 GBP
106.43939393939394 CAD
105.85635359116021 EUR
1.2803711836792522 JPY
210.25 USD
83.43949044585987 GBP
83.48484848484848 CAD
171.6574585635359 EUR
0.5720053835800808 JPY
280.4 USD
76.7515923566879 GBP
99.0530303030303 CAD
194.3646408839779 EUR
0.6074236735850393 JPY
195.25 USD
64.3312101910828 GBP
91.13636363636363 CAD

In [55]:
total_sales_usd =0
for v in sales.values():
    purchase_total = v['purchase_total']
    currency = v['currency']

    exc_rate = data["rates"][currency]
    
    usd_amount = purchase_total/exc_rate
    total_sales_usd += usd_amount

In [56]:
print(total_sales_usd)

3199.579136178121

In [57]:
total_sales_usd

3199.579136178121

In [58]:
# define function using the above data

def usd_sales():
    total_sales_usd =0
    for v in sales.values():

        purchase_total = v['purchase_total']
        currency = v['currency']
        exc_rate = data["rates"][currency]
        
        usd_amount = purchase_total/exc_rate
        total_sales_usd += usd_amount  
    return total_sales_usd

In [59]:
usd_sales()

3199.579136178121

In [60]:
def usd_sales(reporting_curr,):
    """
    This is build to produce total sales in reporting currency
    """


    total_sales_usd =0
    for v in sales.values():

        purchase_total = v['purchase_total']
        currency = v['currency']
        exc_rate = data["rates"][currency]
        
        usd_amount = purchase_total/exc_rate
        total_sales_usd += usd_amount  
    return total_sales_usd

In [61]:
usd_sales.__doc__

'\n    This is build to produce total sales in reporting currency\n    '

In [62]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [63]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [64]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [65]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).