### Elevate your python skills with advanced function using APi
* find weakest currency

In [44]:
import requests

In [45]:
url = "https://api.exchangerate-api.com/v4/latest/usd"

In [46]:
responce = requests.get(url)

In [47]:
responce.status_code

200

In [48]:
data = responce.json()

In [49]:
data

{'provider': 'https://www.exchangerate-api.com',
 'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'terms': 'https://www.exchangerate-api.com/terms',
 'base': 'USD',
 'date': '2023-11-04',
 'time_last_updated': 1699056001,
 'rates': {'USD': 1,
  'AED': 3.67,
  'AFN': 73.82,
  'ALL': 99.46,
  'AMD': 401.96,
  'ANG': 1.79,
  'AOA': 837.92,
  'ARS': 350.03,
  'AUD': 1.54,
  'AWG': 1.79,
  'AZN': 1.7,
  'BAM': 1.83,
  'BBD': 2,
  'BDT': 110.56,
  'BGN': 1.83,
  'BHD': 0.376,
  'BIF': 2828.87,
  'BMD': 1,
  'BND': 1.36,
  'BOB': 6.92,
  'BRL': 4.94,
  'BSD': 1,
  'BTN': 83.2,
  'BWP': 13.59,
  'BYN': 3.28,
  'BZD': 2,
  'CAD': 1.37,
  'CDF': 2487.06,
  'CHF': 0.9,
  'CLP': 891.21,
  'CNY': 7.31,
  'COP': 4085.34,
  'CRC': 530.15,
  'CUP': 24,
  'CVE': 103,
  'CZK': 22.85,
  'DJF': 177.72,
  'DKK': 6.98,
  'DOP': 56.74,
  'DZD': 136,
  'EGP': 30.89,
  'ERN': 15,
  'ETB': 55.99,
  'EUR': 0.934,
  'FJD': 2.26,
  'FKP': 0.81,
  'FOK': 6.97,
  'GBP': 0.81,
  'GEL': 2.71,
  'GGP': 0.81,
  'GHS': 12,
  'GIP': 0.81,
  'GMD': 64.82,
  'GNF': 8590.29,
  'GTQ': 7.82,
  'GYD': 209.36,
  'HKD': 7.82,
  'HNL': 24.65,
  'HRK': 7.04,
  'HTG': 132.97,
  'HUF': 355.21,
  'IDR': 15685.41,
  'ILS': 3.94,
  'IMP': 0.81,
  'INR': 83.2,
  'IQD': 1309.7,
  'IRR': 41964.6,
  'ISK': 139.32,
  'JEP': 0.81,
  'JMD': 155.87,
  'JOD': 0.709,
  'JPY': 149.51,
  'KES': 150.75,
  'KGS': 88.96,
  'KHR': 4123.35,
  'KID': 1.54,
  'KMF': 459.56,
  'KRW': 1312.93,
  'KWD': 0.309,
  'KYD': 0.833,
  'KZT': 467.19,
  'LAK': 20593.58,
  'LBP': 15000,
  'LKR': 328.23,
  'LRD': 190.78,
  'LSL': 18.27,
  'LYD': 4.9,
  'MAD': 10.22,
  'MDL': 18.12,
  'MGA': 4507.13,
  'MKD': 57.72,
  'MMK': 2097.08,
  'MNT': 3448.74,
  'MOP': 8.06,
  'MRU': 39.26,
  'MUR': 44.16,
  'MVR': 15.45,
  'MWK': 1166.21,
  'MXN': 17.46,
  'MYR': 4.74,
  'MZN': 63.9,
  'NAD': 18.27,
  'NGN': 786.06,
  'NIO': 36.54,
  'NOK': 11.08,
  'NPR': 133.12,
  'NZD': 1.67,
  'OMR': 0.384,
  'PAB': 1,
  'PEN': 3.83,
  'PGK': 3.71,
  'PHP': 55.92,
  'PKR': 282.83,
  'PLN': 4.17,
  'PYG': 7484.12,
  'QAR': 3.64,
  'RON': 4.65,
  'RSD': 109.43,
  'RUB': 93.23,
  'RWF': 1273.38,
  'SAR': 3.75,
  'SBD': 8.5,
  'SCR': 13.49,
  'SDG': 535.77,
  'SEK': 10.94,
  'SGD': 1.36,
  'SHP': 0.81,
  'SLE': 22.35,
  'SLL': 22348.58,
  'SOS': 572.16,
  'SRD': 38.34,
  'SSP': 1044.49,
  'STN': 22.89,
  'SYP': 12899.65,
  'SZL': 18.27,
  'THB': 35.57,
  'TJS': 10.93,
  'TMT': 3.5,
  'TND': 3.16,
  'TOP': 2.38,
  'TRY': 28.41,
  'TTD': 6.76,
  'TVD': 1.54,
  'TWD': 32.14,
  'TZS': 2512.16,
  'UAH': 36.19,
  'UGX': 3781.2,
  'UYU': 39.89,
  'UZS': 12213.16,
  'VES': 35.24,
  'VND': 24545.82,
  'VUV': 121.42,
  'WST': 2.79,
  'XAF': 612.75,
  'XCD': 2.7,
  'XDR': 0.762,
  'XOF': 612.75,
  'XPF': 111.47,
  'YER': 249.84,
  'ZAR': 18.29,
  'ZMW': 22.26,
  'ZWL': 5760.6}}

In [50]:
data["rates"]["PKR"]

282.83

In [51]:
# ERROR    
# def weakest_cur(url): # Parameter
#     data = requests.get(url).json()
#     weekest_rates = 0
#     currency_code = ""
    
#     rates = data["rates"] # dictionary
    
#     for country_code in rates:
#         exc_rate = rates[country_code]
#         if exc_rate > weekest_rates:
#             weekest_rates= exc_rate
#             currency_code = country_code
            
#     return country_code

In [52]:
def weakest_curr(url):
    data = requests.get(url).json()

    weakest_rate = 0
    currency_code = ""
    rates = data["rates"]
    for country_code in rates:
        exc_rate = rates[country_code]
        if weakest_rate < exc_rate:
            weakest_rate = exc_rate
            currency_code = country_code

    return currency_code

In [53]:
weakest_curr(url)

'IRR'

In [54]:
data["rates"][weakest_curr(url)]

41964.6

In [55]:
# data["rates"]["ZWL"]

##### find weakest currency usin loop

In [56]:


usd_API_data= data

In [57]:
weakes_rates = 0
weakest_cou_code = ""

rates = data["rates"]
rates

{'USD': 1,
 'AED': 3.67,
 'AFN': 73.82,
 'ALL': 99.46,
 'AMD': 401.96,
 'ANG': 1.79,
 'AOA': 837.92,
 'ARS': 350.03,
 'AUD': 1.54,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.83,
 'BBD': 2,
 'BDT': 110.56,
 'BGN': 1.83,
 'BHD': 0.376,
 'BIF': 2828.87,
 'BMD': 1,
 'BND': 1.36,
 'BOB': 6.92,
 'BRL': 4.94,
 'BSD': 1,
 'BTN': 83.2,
 'BWP': 13.59,
 'BYN': 3.28,
 'BZD': 2,
 'CAD': 1.37,
 'CDF': 2487.06,
 'CHF': 0.9,
 'CLP': 891.21,
 'CNY': 7.31,
 'COP': 4085.34,
 'CRC': 530.15,
 'CUP': 24,
 'CVE': 103,
 'CZK': 22.85,
 'DJF': 177.72,
 'DKK': 6.98,
 'DOP': 56.74,
 'DZD': 136,
 'EGP': 30.89,
 'ERN': 15,
 'ETB': 55.99,
 'EUR': 0.934,
 'FJD': 2.26,
 'FKP': 0.81,
 'FOK': 6.97,
 'GBP': 0.81,
 'GEL': 2.71,
 'GGP': 0.81,
 'GHS': 12,
 'GIP': 0.81,
 'GMD': 64.82,
 'GNF': 8590.29,
 'GTQ': 7.82,
 'GYD': 209.36,
 'HKD': 7.82,
 'HNL': 24.65,
 'HRK': 7.04,
 'HTG': 132.97,
 'HUF': 355.21,
 'IDR': 15685.41,
 'ILS': 3.94,
 'IMP': 0.81,
 'INR': 83.2,
 'IQD': 1309.7,
 'IRR': 41964.6,
 'ISK': 139.32,
 'JEP': 0.81,
 'JMD': 155.87,
 'JOD': 0.709,
 'JPY': 149.51,
 'KES': 150.75,
 'KGS': 88.96,
 'KHR': 4123.35,
 'KID': 1.54,
 'KMF': 459.56,
 'KRW': 1312.93,
 'KWD': 0.309,
 'KYD': 0.833,
 'KZT': 467.19,
 'LAK': 20593.58,
 'LBP': 15000,
 'LKR': 328.23,
 'LRD': 190.78,
 'LSL': 18.27,
 'LYD': 4.9,
 'MAD': 10.22,
 'MDL': 18.12,
 'MGA': 4507.13,
 'MKD': 57.72,
 'MMK': 2097.08,
 'MNT': 3448.74,
 'MOP': 8.06,
 'MRU': 39.26,
 'MUR': 44.16,
 'MVR': 15.45,
 'MWK': 1166.21,
 'MXN': 17.46,
 'MYR': 4.74,
 'MZN': 63.9,
 'NAD': 18.27,
 'NGN': 786.06,
 'NIO': 36.54,
 'NOK': 11.08,
 'NPR': 133.12,
 'NZD': 1.67,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.83,
 'PGK': 3.71,
 'PHP': 55.92,
 'PKR': 282.83,
 'PLN': 4.17,
 'PYG': 7484.12,
 'QAR': 3.64,
 'RON': 4.65,
 'RSD': 109.43,
 'RUB': 93.23,
 'RWF': 1273.38,
 'SAR': 3.75,
 'SBD': 8.5,
 'SCR': 13.49,
 'SDG': 535.77,
 'SEK': 10.94,
 'SGD': 1.36,
 'SHP': 0.81,
 'SLE': 22.35,
 'SLL': 22348.58,
 'SOS': 572.16,
 'SRD': 38.34,
 'SSP': 1044.49,
 'STN': 22.89,
 'SYP': 12899.65,
 'SZL': 18.27,
 'THB': 35.57,
 'TJS': 10.93,
 'TMT': 3.5,
 'TND': 3.16,
 'TOP': 2.38,
 'TRY': 28.41,
 'TTD': 6.76,
 'TVD': 1.54,
 'TWD': 32.14,
 'TZS': 2512.16,
 'UAH': 36.19,
 'UGX': 3781.2,
 'UYU': 39.89,
 'UZS': 12213.16,
 'VES': 35.24,
 'VND': 24545.82,
 'VUV': 121.42,
 'WST': 2.79,
 'XAF': 612.75,
 'XCD': 2.7,
 'XDR': 0.762,
 'XOF': 612.75,
 'XPF': 111.47,
 'YER': 249.84,
 'ZAR': 18.29,
 'ZMW': 22.26,
 'ZWL': 5760.6}

In [58]:
a,b = 11,32

In [59]:
b

32

In [60]:
a

11

In [61]:
weakes_rates = 0
weakest_cou_code = ""

rates = data["rates"]

for count_cod,exc in rates.items():
    if weakes_rates < exc:
        weakes_rates = exc
        weakest_cou_code = count_cod

In [62]:
weakes_rates

41964.6

In [63]:
weakest_cou_code

'IRR'

In [64]:
data["rates"]["IRR"]

41964.6

In [65]:
max(rates)

'ZWL'

In [66]:
rates["ZWL"]

5760.6

In [67]:
min(rates)

'AED'

In [68]:
rates["AED"]

3.67

In [69]:
max(rates.values())

41964.6

In [70]:
max(rates,key =rates.get)

'IRR'

In [71]:
rates.get("IRR")

41964.6

In [72]:
rates.get("ABC") #do not show the error

In [73]:
rates.get("ABC","Thats exchange rate is not available")

'Thats exchange rate is not available'

In [74]:
func = sum

In [75]:
func([2,6,5,4,3,2])

22

In [82]:
value = 0
k = ""

for key in rates:
    if rates[key] > value:
        value = rates[key]
        k = key

In [84]:
k

'IRR'

In [95]:
def addition(a,b):
    a = 7
    b = 8
    add =a+b
    return add
addition(a,b)

15

In [97]:
def addition(a,b):
    add = a+b
    return add
addition(7,8)

15

## Arguments
* positional arguments 
* named arguments or key arguments

In [98]:
def subtraction(a,b): # a,b are parameter -> headers
    sub = a-b         # body
    return sub        # return statement

In [99]:
subtraction(60,39)

21

In [100]:
subtraction(a = 70,b = 31)

39

In [101]:
subtraction(b = 31,a =70)

39

In [102]:
subtraction(b = 65,a = 23)

-42

In [104]:
dict(a = 2,b = 5)

{'a': 2, 'b': 5}

* default arguments

In [105]:
def tax_calu(salary,tax_rate):
    tax_value = salary*tax_rate
    return tax_value

In [107]:
tax_calu(1000000,0.06)

60000.0

In [109]:
tax_calu(200000,tax_rate=0.2)

40000.0

In [110]:
def tax_calu(salary,tax_rate=0.7): #default arguments
    tax_value = salary*tax_rate
    return tax_value

In [111]:
tax_calu(500000)

350000.0

In [113]:
tax_calu(60000000,0.5)

30000000.0

* Multiple return statements

In [114]:
def add_sub(a,b,addition=True):
    add = a+b
    sub = a-b

    if addition:
        return add
    else:
        return sub

In [115]:
add_sub(23,54)

77

In [116]:
add_sub(80,29,False)

51

In [117]:
add_sub(a=60,b=20,addition=False)

40

In [119]:
add_sub(a=60,addition=False,b=20)

40

In [121]:
# add_sub(addition=False,b=20,65) #positional argument follows keyword argument

In [123]:
# return multiple statement
def add_sub(a,b):
    add = a+b
    sub = a-b
    return add,sub

In [124]:
add_sub(20,10)

(30, 10)

In [125]:
add,sub = add_sub(40,21)

In [126]:
sub

19

In [127]:
def tax_calu(salary):
    tax_rate=0.6
    return salary*tax_rate

In [128]:
tax_calu(2000000)

1200000.0

## Lambda Function
* map
* filter

In [133]:
l = [200,499,201,301,210,760]

In [134]:
l

[200, 499, 201, 301, 210, 760]

In [135]:
l_double =[]

for i in l:
    ans = i*2
    l_double.append(ans)

In [137]:
l_double

[400, 998, 402, 602, 420, 1520]

In [138]:
alpha = ["ABC","DEF","GHIJ","KLMNOP","QRSTU","VWXY","Z"]
alpha

['ABC', 'DEF', 'GHIJ', 'KLMNOP', 'QRSTU', 'VWXY', 'Z']

In [139]:
len(alpha)

7

In [140]:
len_alpha = []

for i in alpha:
    length = len(i)
    len_alpha.append(length)

In [141]:
len_alpha

[3, 3, 4, 6, 5, 4, 1]

In [142]:
map(len,alpha)

In [143]:
list(map(len,alpha))

[3, 3, 4, 6, 5, 4, 1]

In [144]:
def mul(i):
    return i*2

In [145]:
list(map(mul,l))

[400, 998, 402, 602, 420, 1520]

In [146]:
list(map(lambda i: i*3,l))

[600, 1497, 603, 903, 630, 2280]

In [147]:
l

[200, 499, 201, 301, 210, 760]

In [152]:
list(filter(lambda i: i<300,l))

[200, 201, 210]

In [1]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]