### Dictionary data structure in python
- Dictionaries are used to store data values in key:value pairs. 
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates

In [138]:
dic = {"name":"imran","age":21,"class":"BSCS","country":"pakistan"}

In [139]:
dic

{'name': 'imran', 'age': 21, 'class': 'BSCS', 'country': 'pakistan'}

In [140]:
dir(dic)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [141]:
dic.keys()

dict_keys(['name', 'age', 'class', 'country'])

In [142]:
dic.values()

dict_values(['imran', 21, 'BSCS', 'pakistan'])

In [143]:
d = {1,2}
type(d)

set

In [144]:
d = {"salaries":[12000,30000,40000]}
d

{'salaries': [12000, 30000, 40000]}

In [145]:
type(d)

dict

In [146]:
# d = {[12000,30000,40000]:"salaries"}
# d 
# error :this is not a dictionary

In [147]:
hash("imran")

7906189243085298834

In [148]:
hash(True)

1

In [149]:
# hash([1,2,3,4]) 
# unhashable type: 'list'

In [150]:
dic

{'name': 'imran', 'age': 21, 'class': 'BSCS', 'country': 'pakistan'}

In [151]:
dic["age"]

21

In [152]:
dic["name"]

'imran'

In [153]:
dic.keys()

dict_keys(['name', 'age', 'class', 'country'])

In [154]:
# adding new value
dic["Country"] = "Pakistan"

In [155]:
dic

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'country': 'pakistan',
 'Country': 'Pakistan'}

In [156]:
dic.pop("country") # remove value

'pakistan'

In [157]:
dic

{'name': 'imran', 'age': 21, 'class': 'BSCS', 'Country': 'Pakistan'}

In [158]:
dic["city"] = "Faisalabad"

In [159]:
dic

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'city': 'Faisalabad'}

In [160]:
for i in dic:
    print(i)

name
age
class
Country
city

In [161]:
for i in dic:
    print(dic[i])

imran
21
BSCS
Pakistan
Faisalabad

In [162]:
for key in dic:
    print(key,dic[key])

name imran
age 21
class BSCS
Country Pakistan
city Faisalabad

In [163]:
for v in dic.values():
    print(v)

imran
21
BSCS
Pakistan
Faisalabad

In [164]:
for key in dic.values():
    print(key)

imran
21
BSCS
Pakistan
Faisalabad

In [165]:
b = ("name","imran")
b

('name', 'imran')

In [166]:
b,f = ("name","imran")

In [167]:
b

'name'

In [168]:
f

'imran'

In [169]:
dic.items()

dict_items([('name', 'imran'), ('age', 21), ('class', 'BSCS'), ('Country', 'Pakistan'), ('city', 'Faisalabad')])

In [170]:
for key,val in dic.items():
    print(key,val)

name imran
age 21
class BSCS
Country Pakistan
city Faisalabad

In [171]:
# updating values in dictionary
dic

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'city': 'Faisalabad'}

In [172]:
dic["age"] = 20
dic

{'name': 'imran',
 'age': 20,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'city': 'Faisalabad'}

In [173]:
# nested dictionary
dic2 = {
 'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'city': 'Faisalabad',
 "salaries":{"imran":2000,"hamze":4000,"ali":3000}}

In [174]:
dic2

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'city': 'Faisalabad',
 'salaries': {'imran': 2000, 'hamze': 4000, 'ali': 3000}}

In [178]:
dic2["salaries"]

{'imran': 2000, 'hamze': 4000, 'ali': 3000}

In [182]:
print(dic2['salaries']['ali'])

3000

In [183]:
dic2['salaries']['hamze']

4000

In [184]:
# get function
dic2.get("Country")

'Pakistan'

In [185]:
# used del for deleting value
del(dic2['city'])

In [186]:
dic2

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'salaries': {'imran': 2000, 'hamze': 4000, 'ali': 3000}}

In [189]:
del(dic2['salaries']['hamze'])

In [190]:
dic2

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'salaries': {'imran': 2000, 'ali': 3000}}

In [192]:
# copy method
dic3 = dic2.copy()
dic3

{'name': 'imran',
 'age': 21,
 'class': 'BSCS',
 'Country': 'Pakistan',
 'salaries': {'imran': 2000, 'ali': 3000}}

In [193]:
# clear method
dic3.clear()

In [194]:
dic3

{}

In [196]:
dic3.update({"name":"hamza"})
dic3

{'name': 'hamza'}