In [1]:
a = 4
b = 4

In [2]:
a

4

In [3]:
b

4

In [4]:
a = "12343siissk"
a

'12343siissk'

In [7]:
'shabbirr\'s house'
# or
"shabbirr's house"

"shabbirr's house"

#### Find Datatype of variable

In [8]:
a = '123'
b = 2.3
c = 3
d = True
print("datatype of a:",type(a))
print("datatype of b:",type(b))
print("datatype of c:",type(c))
print("datatype of d:",type(d))

datatype of a: <class 'str'>
datatype of b: <class 'float'>
datatype of c: <class 'int'>
datatype of d: <class 'bool'>

##### Conversion of Datatype

In [12]:
print(float(29))
print(int(29.4))
print(bool(0))
print(str(12343655))
print(int('12343'))

29.0
29
False
12343655
12343

#### Input() type function

In [18]:
a = input("Enter your Roll number:")
print(a,type(int(a)))

24424 <class 'int'>

In [42]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
print(a+b)
k = float(input("Enter first number:"))
j = float(input("Enter second number:"))
print(k+j)
c = (input("Enter first number:"))
d = (input("Enter second number:"))
print(c+d)

4
6.6
imranyousaf

In [44]:
name = input("What's your name")
greeting = "Hello!"
print(greeting,name)

Hello! imran

In [48]:
name = input("What's your name")
age = input("how old are you")
greeting = "Hello!"
print(greeting,name,"your age is",age,"So you are a young man")

Hello! imran your age is 21 So you are a young man

In [49]:
a = int(input("Enter first number:"))
print(a*a)

484

#### python variable assignment multiple variable

In [25]:
x,y,z = 'apple','banana','mango'
print(x)
print(y)
print(z)

apple
banana
mango

In [26]:
x,y,z = {'apple','banana','mango'}
print(x)
print(y)
print(z)

banana
mango
apple

In [31]:
fruits = {'apple','banana','mango'}
x,y,z = fruits
print(x)
print(y)
print(z)

banana
mango
apple

In [34]:
x = y = z = fruits
print(x)
print(y)
print(z)

{'banana', 'mango', 'apple'}
{'banana', 'mango', 'apple'}
{'banana', 'mango', 'apple'}

####  Global and local variable

In [40]:
x = "high level language" # global variableb
def myfunc():
    print("Python is",x)
myfunc()

Python is high level language

In [38]:
def myfunc():
    x = "high level language" # local var
    print("Python",x)
myfunc()

Python high level language

In [41]:
x = "high level language" # global variableb
def myfunc():
    x = "use in data science an AI"
    print("Python is",x)
myfunc()
print("Python is",x)

Python is use in data science an AI
Python is high level language

#### Arthimatic operator

In [51]:
a = int(input("Enter 1st"))
b = int(input("Enter 2nd"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

50
-6
616
0.7857142857142857

#### comparison operator

In [52]:
a = int(input("Enter 1st"))
b = int(input("Enter 2nd"))
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

True
False
False
True

#### logical operator

In [66]:
bool1 = True
bool2 = False
print("The value of bool1 and bool2 is ", (bool1 and bool2))
print("The value of bool1 or bool2 is ", (bool1 or bool2))
print("The value of not bool2 is ", (not bool2))

The value of bool1 and bool2 is  False
The value of bool1 or bool2 is  True
The value of not bool2 is  True

#### Type casting

In [69]:
# type casting
a = input("Enter")
a = float(a)
print(type(a))

<class 'float'>

In [1]:
mhrs = "24.54"
mhrs

'24.54'

In [2]:
type(mhrs)

str

In [3]:
float(mhrs)

24.54

In [4]:
type(mhrs) # because mhrs is assigned string value

str

In [5]:
mhrs = float(mhrs)

In [6]:
mhrs

24.54

In [7]:
type(mhrs)

float

In [8]:
mhrs = "33.22"
mhrs = float(mhrs)
mhrs

33.22

In [9]:
type(mhrs)

float